PROYECTOEMAIL_DB_HOST=localhost
PROYECTOEMAIL_DB_NAME=db_grupo27sa
PROYECTOEMAIL_DB_USER=grupo27sa
PROYECTOEMAIL_DB_PASSWORD=
PROYECTOEMAIL_DB_PORT=5432

PROYECTOEMAIL_POP3_HOST=mail.tecnoweb.org.bo
PROYECTOEMAIL_POP3_USER=
PROYECTOEMAIL_POP3_PASSWORD=
PROYECTOEMAIL_POP3_PORT=110

PROYECTOEMAIL_SMTP_HOST=mail.tecnoweb.org.bo
PROYECTOEMAIL_SMTP_PORT=25
PROYECTOEMAIL_SMTP_FROM=
