PROYECTOEMAIL_DB_HOST=www.tecnoweb.org.bo
PROYECTOEMAIL_DB_NAME=db_grupo27sa
PROYECTOEMAIL_DB_USER=grupo27sa
PROYECTOEMAIL_DB_PASSWORD=
PROYECTOEMAIL_DB_PORT=5432
PROYECTOEMAIL_DB_TUNNEL_BIND_HOST=0.0.0.0
PROYECTOEMAIL_DOCKER_DB_HOST=host.docker.internal
PROYECTOEMAIL_DOCKER_DB_PORT=15432

PROYECTOEMAIL_POP3_HOST=mail.tecnoweb.org.bo
PROYECTOEMAIL_POP3_USER=grupo27sa
PROYECTOEMAIL_POP3_PASSWORD=
PROYECTOEMAIL_POP3_PORT=110

PROYECTOEMAIL_SMTP_HOST=mail.tecnoweb.org.bo
PROYECTOEMAIL_SMTP_PORT=25
PROYECTOEMAIL_SMTP_FROM=grupo27sa@tecnoweb.org.bo
PROYECTOEMAIL_SMTP_USER=grupo27sa@tecnoweb.org.bo
PROYECTOEMAIL_SMTP_PASSWORD=

PROYECTOEMAIL_PAGOFACIL_BASE_URL=https://masterqr.pagofacil.com.bo/api/services/v2
PROYECTOEMAIL_PAGOFACIL_TOKEN_SERVICE=
PROYECTOEMAIL_PAGOFACIL_TOKEN_SECRET=
PROYECTOEMAIL_PAGOFACIL_CALLBACK_URL=https://example.com/pagofacil-demo-callback
PROYECTOEMAIL_PAGOFACIL_PAYMENT_METHOD=34
PROYECTOEMAIL_PAGOFACIL_DOCUMENT_TYPE=1
PROYECTOEMAIL_PAGOFACIL_CURRENCY=2
PROYECTOEMAIL_PAGOFACIL_TIMEOUT_MS=15000
PROYECTOEMAIL_CALLBACK_ENABLED=false
PROYECTOEMAIL_CALLBACK_PORT=8085
PROYECTOEMAIL_CALLBACK_PATH=/pagofacil/callback
