PROYECTOEMAIL_DB_NAME=tecnito
PROYECTOEMAIL_DB_USER=postgres
PROYECTOEMAIL_DB_PASSWORD=2307
PROYECTOEMAIL_DB_PORT=5432

PROYECTOEMAIL_POP3_USER=grupo13sc
PROYECTOEMAIL_POP3_PASSWORD=123456
PROYECTOEMAIL_POP3_PORT=3110

PROYECTOEMAIL_SMTP_PORT=3025
PROYECTOEMAIL_SMTP_FROM=grupo13sc@tecnoweb.org.bo
